* {
    background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #692318;
    text-align: center;
}

p.carta {
    color: brown;
}

p.cafe {
    color: brown;
    text-align: center;
}

p.contacto {
    color: brown;
    text-align: right;
}